[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

twisted = "*"
"zope.interface" = "*"
watchdog = "*"
"jinja2" = "*"
pychalk = "*"
service-identity = "*"
zope-interface = "*"
six = "*"
autobahn = "*"


[dev-packages]

django = "<2.0"
flask = "*"
cryptography = "*"
ipython = "<6.0.0"
"urllib3" = "*"
requests = "*"
