[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
twisted = "*"
cryptography = ">=2.3"
watchdog = "*"
jinja2 = "*"
pychalk = "*"
service-identity = "*"
six = "*"
autobahn = "*"

[dev-packages]
#
# Pytest
#
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-twisted = "*"
#
# Frameworks
#
django = "*"
flask = "*"
#
# Other Dev
#
urllib3 = "*"
requests = "*"
httperfpy = "*"
coverage = "*"
codecov = "*"
gunicorn = "*"

[pipenv]
allow_prereleases = true
