[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

Twisted = "*"
"zope.interface" = "*"
watchdog = "*"
"Jinja2" = "*"
pychalk = "*"
service-identity = "*"
six = "*"


[dev-packages]

Django = "<2.0"
Flask = "*"
cryptography = "*"
ipython = "<6.0.0"
"urllib3" = "*"
requests = "*"
pytest = "*"
httperfpy = "*"
pytest-twisted = "*"
pytest-mock = "*"
coverage = "*"
