-i https://pypi.python.org/simple
atomicwrites==1.3.0
attrs==19.3.0
bumpversion==0.5.3
certifi==2019.6.16
chardet==3.0.4
click==7.0
codecov==2.0.15
coverage==5.0a6
decorator==4.4.0
django==2.2.10
flask==1.1.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.18
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
more-itertools==7.1.0
packaging==19.0
pluggy==0.12.0
py==1.8.0
pyparsing==2.4.0
pytest-cov==2.7.1
pytest-mock==1.10.4
pytest-twisted==1.10
pytest==5.0.1
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
wcwidth==0.1.7
werkzeug==0.15.5
zipp==0.5.2
