-i https://pypi.python.org/simple
argh==0.26.2
asn1crypto==0.24.0
attrs==19.3.0
autobahn==19.7.1
automat==0.7.0
cffi==1.12.3
constantly==15.1.0
cryptography==2.7
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jinja2==2.10.1
markupsafe==1.1.1
pathtools==0.1.2
pyasn1-modules==0.2.5
pyasn1==0.4.5
pychalk==2.0.1
pycparser==2.19
pyhamcrest==1.9.0
pyopenssl==19.0.0
pyyaml==5.1.1
service-identity==18.1.0
six==1.12.0
twisted==19.2.1
txaio==18.8.1
watchdog==0.9.0
zope.interface==4.6.0
